@import "tailwindcss";/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  border-radius: 50px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #444;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 8px;
  border-radius: 50px;
  transition: 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-radius: 50px;

}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #222 #444;
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ai-glow-button {
  background: linear-gradient(
    120deg,
    #f2613f,
    #9b5cff,
    #f2613f
  );
  background-size: 200% 200%;
  animation: gradientWave 3s ease infinite;
  transition: all 0.3s ease;
}

.ai-glow-button:hover {
  transform: scale(1.03);
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
