@import "tailwindcss";/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  border-radius: 50px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #444;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 8px;
  border-radius: 50px;
  transition: 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-radius: 50px;

}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #222 #444;
}
